body
  height: 100%
  display: flex
  justify-content: center
  align-items: center


#page-home
  margin: 20px
  display: flex


.author
  margin-top: 100px
  p
    margin: 0

.avatar
  width: 80px
  height: 80px
  border-radius: 50%
  margin: 20px 0 0
  -ms-flex-negative: 0
  flex-shrink: 0

.wrapper-starter
  width: 100%
  max-width: 700px
  background: white
  padding: 40px
  border-radius: 2px
  box-shadow: 0 2px 20px rgba(0,0,0, 0.7)
  text-align: center

  p
    color: #666

h1
  margin-bottom: 20px
h4
  margin-top: 100px

.button
  margin-top: 50px
  border: 2px solid $blue
  color: $blue

.flex-video
  border: 1px solid black
